/* Importar modulo css global */
@import url(../index.module.css);

@import url(../index.module.css);

/* Contenedor principal */
.aboutMeContainer {
    background: var(--bg-aboutMe);
    width: 100%;
    padding: 5rem 0;
    position: relative;
}

/* Sección interior */
.aboutMeSection {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Contenedor del título */
.titleWrapper {
    display: flow-root;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .aboutMeContainer {
        padding: 3rem 0;
    }
    
    .aboutMeSection {
        width: 95%;
        padding: 0 0.5rem;
    }
}