/* Importar modulo css global */
@import url(../index.module.css);

/* Modulo css del header */
.header {
    background: var(--bg-navbar);
    width: 100%;
    height: 10dvh;
    display: inline-flex;
    position: fixed;
    align-items: center;
    text-align: center;
}

.blackText_header {
    margin-left: 2rem;
    font-family: var(--font-nameLogo);
    color: var(--color-nameLogo);
    font-size: var(--fontsize-nameLogo);
}