/* Importar modulo css global */
@import url(../index.module.css);

.containerIcons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.icon {
    font-size: var(--fontsize-icon);
    color: var(--color-icon);
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Colores individuales */
.whatsapp {
    color: var(--icon-whattsapp-color);
}

.instagram {
    color: var(--icon-ig-color);
    background: white;
}

.phone {
    color: var(--icon-movil-color);
}

.icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* Responsive font-size */
@media (max-width: 768px) {
    .icon {
        font-size: var(--fontsize-icon-responsive);
    }
}

@media (max-width: 480px) {
    .icon {
        font-size: var(--fontsize-miniicon-responsive);
    }
}
