/* Importar modulo css global */
@import url(../index.module.css);

/* modulo de MainTitle */
.conteinerMin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: transparent; /* o el color que prefieras */
    position: relative;
}

.miniTitle {
    font-size: var(--fontsize-minititle); 
    font-family: var(--font-minititle);
    color: var(--color-minititle);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/* ===== VERSIÓN MOBILE (700px o menos) ===== */
@media (max-width: 700px) {
    .miniTitle {
        font-size: var(--fontsize-minititle-responsive);
    }
}
