/* Importar modulo css global */
@import url(../index.module.css);

/* Modulo css del nav */
.navbar {
    background: var(--bg-navbar);
    width: 100%;
    height: 10dvh;
    display: inline-flex;
    position: fixed;
    align-items: center;
    text-align: center;
}
