/* Importar modulo css global */
@import url(../index.module.css);

/* Modulo css de Home */
.contentService {
    width: 100%;
    height: 100dvh; /* O el alto que prefieras */
    background: var(--bg-services);
}