/* Importar modulo css global */
@import url(../index.module.css);

/* Modulo css del boton expandible */
.toggleBtn {
    display: inline;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-btnToggle);
    font-size: var(--fontsize-btnToggle);
}

.toggleBtn:hover {
    color: var(--color-btnToggle);
}

/* ===== VERSIÓN MOBILE (700px o menos) ===== */
@media (max-width: 700px) {
    .toggleBtn {
        font-size: var(--fontsize-btnToggle-responsive);
    }
}

