:root {

  /* Fondos */
  --bg-home: linear-gradient(90deg, #5de0e6, #004aad);
  --bg-navbar: radial-gradient(circle at 50% 50%, #67176e, #7c90f2);
  --bg-form: linear-gradient(90deg, #8652ff, #ff914d);
  --bg-footer: radial-gradient(circle at 0% 0%, #000f9b, #eb0000, #a000eb);
  --bg-btnLocation: radial-gradient(circle at 0% 0%, #000f9b, #eb0000, #a000eb);
  --bg-card: linear-gradient(90deg, #000000, #737373);
  --bg-lineAction: linear-gradient(90deg, #a6a6a6, #ffffff);
  --bg-link_hover: linear-gradient(90deg, #000000, #292727);

  /* Colores */
  --color-maintitle: #ffffff;
  --color-text: #ffffff;
  --color-link: #ffffff;
  --color-iconLink: #ffffff;
  --color-textCustomerName: #5e17eb;
  --color-textCustomer: #d9472c;
  --color-textUserMsj: #111111;

  /* Tipografias */
  --font-title: 'Playfair Display', serif;
  --font-text: 'Roboto', sans-serif;
  --font-subtitle: 'Montserrat', sans-serif;
  --font-link: --font-strong: 'Courier New', Courier, monospace;
  --font-nameLogo: 'Montserrat', sans-serif;

  /* Tamaño de letra */

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


