:root {

  /* Fondos */
  --bg-home: linear-gradient(90deg, #5de0e6, #004aad);
  --bg-services: linear-gradient(90deg, #5de0e6, #004aad);
  --bg-aboutUs: linear-gradient(90deg, #5de0e6, #004aad);
  --bg-navbar: radial-gradient(circle at 50% 50%, #67176e, #7c90f2);
  --bg-form: linear-gradient(90deg, #8652ff, #ff914d);
  --bg-footer: radial-gradient(circle at 0% 0%, #000f9b, #eb0000, #a000eb);
  --bg-btnLocation: radial-gradient(circle at 0% 0%, #000f9b, #eb0000, #a000eb);
  --bg-card: linear-gradient(90deg, #000000, #737373);
  --bg-lineAction: linear-gradient(90deg, #a6a6a6, #ffffff);
  --bg-link_hover: linear-gradient(90deg, #000000, #292727);
  --bg-sectionMovil: #111;
  --bg-movil: #333;
  --bg-cardService: #000000;

  /* Colores */
  --color-maintitle: #ffffff;
  --color-subtitle: #dddddd;
  --color-text: #ffffff;
  --color-iconTextLink: #ffffff;
  --color-iconTextLink-Hover: #12097b;
  --color-textCustomerName: #5e17eb;
  --color-textCustomer: #d9472c;
  --color-textUserMsj: #111111;
  --color-nameLogo: #ffffff;
  --color-btnToggle: #ffffff;
  --color-btnToogleHover: #12097b;
  --color-titlecard: #ffffff;
  --color-textcard: #dddddd;
  --color-minititle: #ffffff;

  /* Colores de iconos */
  --color-icon: #333333;
  --icon-ig-color: #E1306C;
  --icon-whattsapp-color: #25D366;
  --icon-movil-color: #34B7F1;

  /* Tipografias */
  --font-mainTitle: 'Arial Black', sans-serif;
  --font-title: 'Playfair Display', serif;
  --font-text: 'Roboto', sans-serif;
  --font-subtitle: 'Montserrat', sans-serif;
  --font-link: --font-strong: 'Courier New', Courier, monospace;
  --font-nameLogo: 'Montserrat', sans-serif;
  --font-titleCard: 'Courier New', Courier, monospace;
  --font-minititle: 'Courier New', Courier, monospace;

  /* Tamaño de letra */
  --fontsize-btnToggle: 1.5rem;
  --fontsize-navLinks: 1.5rem;
  --fontsize-nameLogo: 2rem;
  --fontsize-maintitle: 3rem;
  --fontsize-subtitle: 2.5rem;
  --fontsize-titlecard: 1.3rem;
  --fontsize-textcard: 1rem;
  --fontsize-minititle: 2rem;
  --fontseize-text: 1rem;
  --fontsize-icon: 2.2rem;

  /* Tamaño de letra Responsivo */
  --fontsize-btnToggle-responsive: 1rem;
  --fontsize-navlinks-responsive: 1rem;
  --fontsize-nameLogo-resposnive: 1.5rem;
  --fontsize-maintitle-responsive: 1.8rem;
  --fontsize-subtitle-responsive: 1.5rem;
  --fontsize-minititle-responsive: 1.2rem;
  --fontsieze-text-responsive: 1rem;
  --fontsize-icon-responsive: 1.6rem;
  --fontsize-miniicon-responsive: 1.2rem;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* En tu archivo global.css */
html {
  scroll-behavior: smooth;
}


